@media only screen and (min-width: 500px) {

    nav {
        display: flex;
        position: static;
        margin-right: 300px;
        background-color: white;

    }

    nav a:hover {
        background-color: white;
        border-bottom: 1.3px solid #fed224;

    }

    #menu {
        display: none;

    }
    .dataForm{
        background-color: #fed22438;
        width: 30%;
        margin: auto;
    }
    fieldset{
        width: 90%;
        margin-top: 40px;
        ;
    }
    h2{
        margin: 100px auto;
        margin-bottom: 5px;
        
    }
    fieldset{
        background-color: #fcf0c271;
        width: 40%;
    }

}