body {
    margin: 0;
    background-color: #fffef9;
    color: #352525;
    font-family: "moderustic";
}

header {

    background-color: #ffffff;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    color: #352525;
}

.logo {
    margin: auto;
    height: 120px;
}

#menu {
    text-decoration: none;
    position: relative;
    display: block;

}

nav a {
    font-family: "merienda";
    color: #352525;
    font-size: 1.1em;
    text-decoration: none;
    padding: 30px;
    margin: 0px;

}

nav {
    display: none;
    text-decoration: none;
    position: absolute;
    top: 75px;
    right: 20px;
    background-color: #ffeca1;
    list-style-type: none;
    padding: 10px;
}

nav a:hover {
    background-color: #35252513;
    border-radius: 4px;

}

#menu::before {
    content: "☰";
    font-size: 2em;
    color: #352525;
    position: absolute;
    z-index: 2;
    right: 5px;

}

.show {
    display: flex;
    flex-direction: column;

}

#menu.show::before {
    content: "X";
    font-family: "arial";
    position: absolute;


}

h2 {
    font-family: "merienda";
    text-align: center;
}

fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f113cc38;
    width: 80%;
    margin: auto;
    border: none;
    

}

label {
    font-size: 20px;
    color: #352525;
    
    width: 100%;
    
}

input,
input,
select {
    height: 40px;
    background-color: rgb(255, 255, 255);
    border: none;
    color: #352525;
    font-family: "merienda";
    font-size: 1.2rem;
    box-shadow: 1px 2px 3px #352525;
    margin-bottom: 35px; 

}

select {
    height: 40px;
}

button {
    background-color: #ffffff2d;
    width: 50%;
    height: 35px;
    margin: 20px auto;
    font-size: 1.2em;
    color: #352525
}

p {
    font-size: 1.1rem;
    color: wheat;
    line-height: 0.3;
}

footer {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #352525;
    font-family: "moderustic";
    text-align: center;
    height: 100px;
    padding-top: 60px;
    margin-top: 40px;

}

#result {
    display: none;
    width: 80%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

}

#result li {

    font-family: "satisfy";
    font-size: 1.9em;
}

#result label {
    font-size: 20px;
    color: #352525;
    margin-bottom: 8px;


}

#result input {
    width: 100%;
    text-align: center;


}


#formulary {
    display: block;
}