* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #fffef9;
    color: #352525;
}

h1 {
    font-family: "caligraphy";
    font-style: oblique;
    font-size: 1.5em;
    font-weight: 200;
    color: #fffdf7;

}

h3 {
    font-family: "merienda";
    font-size: 1.8em;
    font-weight: 100;
    text-align: center;
}

p {

    text-align: center;
    font-family: "moderustic";
    font-size: 1.3em;
    color: #352525;

}

.text {
    font-family: "moderustic";
    font-size: 1.1em;
    text-align: center;
    padding: 20px 30px;
    color: #352525;




}

figcaption {
    font-family: "merienda";
}

header {

    background-color: #ffffff;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    color: #352525;
}

.logo {
    margin: auto;
    height: 120px;
}

#menu {
    text-decoration: none;
    position: relative;
    display: block;

}

nav a {
    font-family: "merienda";
    color: #352525;
    font-size: 1.1em;
    text-decoration: none;
    padding: 30px;
    margin: 0px;

}

nav {
    display: none;
    text-decoration: none;
    position: absolute;
    top: 75px;
    right: 20px;
    background-color: #ffeca1;
    list-style-type: none;
    padding: 10px;
}

nav a:hover {
    background-color: #35252513;
    border-radius: 4px;

}

#menu::before {
    content: "☰";
    font-size: 2em;
    color: #352525;
    position: absolute;
    z-index: 2;
    right: 5px;

}

.show {
    display: flex;
    flex-direction: column;

}

#menu.show::before {
    content: "X";
    font-family: "arial";
    position: absolute;


}


#hero {

    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;




}


#hero h1 {
    position: absolute;
    top: 30%;
    line-height: 1.3;

}

#hero button {
    position: absolute;
    top: 95%;
    left: 120px;
    font-size: 1.2em;
    padding: 10px 30px;
    border-radius: 10px;
    border: 0.1px solid #352525;
    box-shadow: 3px 3px 10px #fce99e;
    background-color: #352525b9;
    color: #ffffff;
    font-family: "merienda";



}


#firstimagen {
    display: block;
    margin: 30px auto;
    height: auto;
    width: 90%;
    padding: 8px;
    box-shadow: 0 0px 10px #352525;

}

#firstimagen img {
    display: block;
    margin: auto;
    width: 98%;
}


.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    justify-items: center;
    margin-bottom: 10px auto;



}



.gallery img {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    padding: 8px;
    box-shadow: 0 0px 10px #352525;



}

.gallery figcaption {

    font-size: 0.8rem;
}

footer {
    display: block;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #352525;
    font-family: "moderustic";
    font-size: 0.9rem;
    text-align: center;
    height: 200px;
    padding-top: 60px;

}

#footertext {
    color: #ffeca1;
}