body {
  background-color: #fffdf7;
  font-family: "parkisans";
  font-size: 1.2em;
  width: 1000px;
  margin: auto;

}

h3 {
  font-family: "ubuntu";
  font-size: 1em;
  color: #352525;
  text-decoration: underline;
}

.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}

.colors th {
  background-color: #d3cccc;
}

.colors td {
  width: 25%;
  height: 3em;
}

.primary {
  background-color: #352525;
  color: #fffdf7;
}

.secondary {
  background-color: #796868;
  color: #fffdf7;
}

.accent1 {
  background-color: #fed224;
}

.accent2 {
  background-color: #fffdf7;
}

.principal {
  font-family: "parkinsans";

}

.second {
  font-family: "ubuntu";
}
img{
  display: block;
  margin: auto;
  width: 400px;
  height: auto;
  
}